@media (max-width: 768px) {

    .container {
        width: 768px;
        padding: 0;
    }

    h2 {
        letter-spacing: -0.07rem;
    }

    .header__content {
        padding: 10px 0;
    }


    .motto>.container-inner {
        padding: 0;
    }

    .motto__content {
        padding-top: 187px;
        background-image: url('../images/photo-balcony 768.png');
        background-position-y: bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .motto__descr {
        max-width: 91%;
    }

    .about__more {
        margin-top: 61px;
        padding-top: 477px;
        background-image: url('../images/about 768.png');
    }


    .more__container {
        padding: 23px 25px;
    }

    .more__descr {
        max-width: 62%;
    }


    .about__list {
        margin-top: 40px;
    }

    .about__item {
        padding: 38px 30px 31px 173px;
        background-position: 23px center;
        background-size: 18%;
    }

    .item__descr {
        max-width: 90%;
    }

    .working__list {
        justify-content: space-between;
    }


    .working__item:not(:last-child) {
        margin: 0;
    }

    .working__content {
        margin-top: 37px;
        order: 2;

    }

    .working__article {
        flex-direction: column;
    }

    .working__image {
        display: none;
    }

    .working__image-small {
        display: block;
    }

    .working__content-descr {
        margin-bottom: 27px;
        max-width: 100%;
    }


    .faq__item {
        padding: 28px 0;
    }


    .faq__item:nth-child(3) {
        padding: 22px 0 22px 0;
    }

    .faq__item:nth-child(4) {
        padding: 22px 0 21px 0;
    }

    .faq__item:nth-child(5) {
        padding: 25px 0 35px 0;
    }

    .faq__name {
        max-width: 78%;
    }


    .footer {
        margin-top: 44px;
    }

    .footer__list {
        display: none;
    }

    .footer__content {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 60px;

    }

    .footer__form {
        order: 1;
    }

    .footer__navigation {
        margin-top: 58px;
        order: 2;
    }

    .footer__social {
        margin-top: 10px;
    }


}