@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap");
.burger {
  display: none;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.burger__menu {
  display: none;
}

.swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
  background: #fff !important;
  opacity: 0.4 !important;
}

.swiper-pagination-bullet-active {
  background: #fff !important;
  opacity: 1 !important;
}

:root {
  --main-black: #333;
  --bg-gray: #e5e5e5;
  --main-orange: #f90;
  --gray: #cacaca;
  --soft-gray: #ececec;
  --click-gray: #d2d2d2;
  --deep-gray: #222;
  --input-gray: #414141;
  --plus-gray: #666;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

/* h2 {
    font-size: 48px;
    font-weight: 400;
    margin: 0;
} */

h3 {
  margin: 0;
}

button {
  cursor: pointer;
}

.orange-btn {
  border: none;
  padding: 26px 36px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background-color: var(--main-orange);
  transition: background-color 0.4s;
}

.orange-btn:hover {
  background-color: rgba(255, 153, 0, 0.6);
}

.transp-btn {
  border: 2px solid var(--main-orange);
  padding: 17px 44px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background-color: transparent;
  transition: background-color 0.8s;
}

.transp-btn:hover {
  background-color: var(--main-orange);
}

.white-btn {
  border: 2px solid var(--main-black);
  padding: 19px 36px;
  font-weight: 700;
  font-size: 16px;
  color: var(--main-black);
  background-color: transparent;
  transition: background-color 0.8s;
}

.white-btn:focus {
  outline: 3px solid var(--main-orange);
}

.white-btn:hover {
  color: #fff;
  background-color: var(--main-black);
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1800px;
}

.header {
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 0;
}

.side__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__menu {
  display: flex;
}

.header__item {
  margin-right: 4.3vw;
  transition: border-bottom 0.8s;
}

.header__item:hover {
  border-bottom: 1px solid var(--main-orange);
}

.header__link {
  font-weight: 600;
  font-size: 18px;
  color: var(--main-black);
}

.search {
  margin-right: 10px;
  border: none;
  width: 26px;
  height: 26px;
  background-image: url("../images/Search.svg");
  background-size: cover;
  background-repeat: repeat;
  background-color: transparent;
  transition: background-image 0.8s;
}

.search:hover {
  background-image: url("../images/Search__orange.svg");
}

/* hero */

.hero {
  background-image: none;
}

.hero__content {
  position: absolute;
  left: 80px;
  right: 5%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 102px;
  padding-bottom: 0;
  max-width: 100%;
  color: #fff;
}

.hero__content-340 {
  display: none;
}

.hero__title {
  margin: 0;
  max-width: 53%;
  font-weight: 800;
  font-size: 70px;
}

.hero__descr {
  display: block;
  margin-top: 20px;
  margin-bottom: 100px;
  max-width: 53%;
  font-weight: 700;
  font-size: 23px;
}

.hero-btn {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.1rem;
}

.swiper-container {
  width: 100%;
}

.swiper-324 {
  display: none;
}

.swiper-1920 {
  height: 618px;
}

.slide-1 {
  background-image: url("../images/photo-balcony1920.png");
  background-position-y: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-2 {
  background-image: url("../images/hero_2.png");
  background-position-y: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-3 {
  background-image: url("../images/hero_3.png");
  background-position-y: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

/* About */

.about {
  padding-top: 100px;
}

.about__title {
  margin: 0;
  font-weight: 400;
  font-size: 48px;
}

.about__descr {
  margin-top: 22px;
  width: 71%;
  font-size: 16px;
  line-height: 2rem;
}

.about__cards {
  position: relative;
  display: flex;
  align-items: stretch;
  margin-top: 44px;
}

.about__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding-left: 0;
}

.about__more {
  display: flex;
  align-items: flex-end;
  margin-right: 30px;
  width: 103%;
  height: 623px;
  color: #fff;
  background-image: url("../images/about1920.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.more__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 54px;
  background-color: rgba(0, 0, 0, 0.5);
}

.more__descr {
  max-width: 73%;
  font-weight: 700;
  font-size: 16px;
  line-height: 2rem;
}

.about__item {
  border: 1px solid #cacaca;
  padding: 66px 30px 63px 300px;
}

.about__item:nth-child(1) {
  margin-bottom: 33px;
  background-image: url("../images/Group1.png");
  background-position: 65px 72px;
  background-repeat: no-repeat;
}

.about__item:nth-child(2) {
  background-image: url("../images/Group2.png");
  background-position: 65px 53px;
  background-repeat: no-repeat;
}

.item__title {
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 24px;
}

.item__descr {
  margin: 0;
  max-width: 77%;
  font-weight: 400;
  font-size: 16px;
  line-height: 2rem;
}

/* Working */

.working {
  padding-top: 100px;
}

.working-picture {
  width: 870px;
  height: 465px;
}

.working__title {
  margin: 0;
  font-weight: 400;
  font-size: 48px;
}

.working__list {
  display: flex;
  margin-top: 50px;
  padding-left: 0;
  font-weight: 400;
  font-size: 18px;
}

.working__item:not(:last-child) {
  margin-right: 90px;
}

.working__item:first-child a {
  color: var(--main-orange);
}

.working__link {
  border: none;
  color: var(--main-black);
  background: transparent;
  transition: color 0.8s;
  cursor: pointer;
}

.working__link:hover {
  color: var(--main-orange);
}

.working__link-active {
  color: var(--main-orange);
}

.working__more {
  display: none;
}

.working__more-active {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 44px;
}

.working__content-title {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 24px;
}

.working__content-descr {
  margin-top: 0;
  margin-bottom: 60px;
  max-width: 85%;
  font-weight: 400;
  font-size: 16px;
  line-height: 2rem;
}

.working-btn {
  margin-right: 30px;
  padding: 19px 36px;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

/* FAQ */

.faq {
  padding-top: 100px;
  padding-bottom: 98px;
}

.faq__container-title {
  margin: 0;
  margin-bottom: 42px;
  font-weight: 400;
  font-size: 48px;
}

.faq__list {
  margin-top: 37px;
  padding-left: 0;
}

.faq__item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  border-top: 1px solid var(--gray) !important;
  border-bottom: 1px solid var(--gray) !important;
  padding: 33px 0 !important;
  transition: border 0.8s;
}

.faq__item:nth-child(2) {
  padding: 44px 0 42px !important;
}

.faq__item:nth-child(3) {
  padding: 34px 0 43px !important;
}

.faq__item:nth-child(4) {
  padding: 35px 0 41px !important;
}

.faq__item:nth-child(5) {
  padding: 35px 0 42px !important;
}

.faq__name {
  display: flex;
  outline: none !important;
  padding: 0 !important;
  padding-left: 5px !important;
  width: 100%;
  max-width: 100%;
  font-weight: 700 !important;
  font-size: 24px !important;
  line-height: 2.1rem;
  letter-spacing: 0.09rem;
  color: var(--main-black) !important;
}

.faq__descr {
  overflow-y: hidden !important;
  border: none !important;
  padding-left: 5px !important;
}

.faq__title {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  border: none !important;
  background-color: #fff !important;
}

.faq__title>span {
  display: block !important;
  position: relative;
  order: 2;
  border: none;
  border-radius: 50%;
  width: 50px !important;
  height: 50px !important;
  background-image: none !important;
  background-color: var(--soft-gray);
  transition: background-color 0.8s, transform 0.8s;
}

.ui-accordion-header-active>span {
  transform: rotate(-90deg);
}

.faq__title>span::before {
  content: "";
  position: absolute;
  left: 20%;
  top: 50%;
  width: 31px;
  height: 2px;
  background-color: var(--plus-gray);
}

.faq__title>span::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 20%;
  width: 2px;
  height: 31px;
  background-color: var(--plus-gray);
}

.ui-icon:hover {
  background-color: var(--click-gray);
}

/* Footer */

.footer {
  padding-top: 47px;
  padding-bottom: 66px;
  background-color: var(--deep-gray);
}

.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__navigation {
  margin-right: 14%;
}

.footer__form {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-top: 10px;
  margin-right: 7%;
}

.footer__item {
  font-weight: 600;
  font-size: 18px;
}

.footer__list {
  margin-top: 14px;
  padding-left: 0;
}

.footer__item:not(:last-child) {
  margin-bottom: 14px;
}

.footer__link {
  color: var(--gray);
}

.footer__social {
  display: flex;
  margin-top: 112px;
  padding-left: 0;
}

.social__item:not(:last-child) {
  margin-right: 25px;
}

.social__link {
  display: block;
  width: 60px;
  height: 60px;
}

.facebook__link {
  background-image: url("../images/fb.svg");
}

.vk__link {
  background-image: url("../images/vk.svg");
}

.inst__link {
  background-image: url("../images/instagram.svg");
}

.footer__title {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 48px;
  color: var(--gray);
}

.footer__input {
  margin-bottom: 27px;
  outline: none;
  border: none;
  padding: 22px 0 21px 23px;
  width: 572px;
  color: #fff;
  background-color: var(--input-gray);
  resize: none;
}

.footer__input:last-child {
  margin-bottom: 0;
}

.footer__input::placeholder {
  content: "";
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.07rem;
  color: var(--gray);
}

.input__text {
  height: 151px;
  max-height: 151px;
}

.send__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.send-btn {
  padding: 22px 50px;
  letter-spacing: 0.08rem;
}

.agree__txt {
  position: relative;
  padding-left: 20px;
  color: var(--gray);
}

.agree__box+span {
  position: absolute;
  left: 0;
  top: 3px;
  vertical-align: middle;
  border: 1px solid var(--gray);
  width: 14px;
  height: 14px;
  text-align: center;
}

.agree__box {
  position: absolute;
  opacity: 0;
}

.agree__box:focus + span {
  outline: 2px solid var(--main-orange);
}

.agree__box+span::before {
  content: url("../images/Checked.svg");
  position: absolute;
  left: 0;
  right: 0;
  top: -5px;
  bottom: 0;
  opacity: 0;
}

.agree__box:checked+span::before {
  opacity: 1;
}

.footer__descr {
  margin: 0;
  width: 20.5%;
  line-height: 2.2rem;
  color: var(--gray);
}
