@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}

:root {
  font-family: 'Roboto', serif;
}

.reset-btn {
  border: none;
}

.reset-list {
  list-style-type: none;
}

.trans-btn {
  font-size: 16px;
  font-weight: 400;
  background-color: transparent;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 22px;
  transition: 0.6s;
  cursor: pointer;
}

.trans-btn:hover {
  background-color: #fff;
  color: #000;
}

body {
  margin: 0;
  background-image: url("../assets/Main_img.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 1400px) {
  .container {
    max-width: 1054px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

@media (max-width: 1080px) {
  .container {
    max-width: 740px;
    padding: 0 32px;
  }
}

@media (max-width: 400px) {
  .container {
    max-width: none;
    padding: 0 18px;
  }
}

.first-header {
  border-bottom: 1px solid #D9D9DE;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 14px;
  padding-bottom: 14px;
  color: #fff;
}

@media (max-width: 1400px) {
  .header-content {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 1080px) {
  .header-content {
    padding-top: 13px;
    padding-bottom: 13px;
  }
}

.header-content .header-burger {
  display: none;
}

@media (max-width: 700px) {
  .header-content .header-burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    background-color: transparent;
    width: 32px;
    height: 24px;
  }
  .header-content .header-burger span {
    width: 100%;
    height: 4px;
    background-color: #fff;
  }
}

.header-content__logo {
  padding-left: 70px;
  height: 54px;
  background-image: url(../assets/Logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
}

@media (max-width: 400px) {
  .header-content__logo {
    height: 40px;
    padding-left: 52px;
  }
}

.header-content__logo span {
  display: block;
}

.header-content__logo span:nth-child(1) {
  font-size: 20px;
}

@media (max-width: 400px) {
  .header-content__logo span:nth-child(1) {
    font-size: 16px;
  }
}

.header-content__logo span:nth-child(2) {
  font-size: 14px;
}

.header-content__contacts a {
  padding-left: 30px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
}

.header-content__contacts .header-content__phone {
  background-image: url(../assets/phone.svg);
  margin-right: 33px;
}

@media (max-width: 1080px) {
  .header-content__contacts .header-content__phone {
    display: none;
  }
}

.header-content__contacts .header-content__mail {
  background-image: url(../assets/mail.svg);
  margin-right: 45px;
}

@media (max-width: 1080px) {
  .header-content__contacts .header-content__mail {
    display: none;
  }
}

.header-content__contacts .header-content__btn {
  width: 186px;
  height: 44px;
}

@media (max-width: 700px) {
  .header-content__contacts .header-content__btn {
    display: none;
  }
}

.header-menu {
  padding-top: 20px;
}

@media (max-width: 400px) {
  .header-menu {
    display: none;
  }
}

.header-menu__nav a {
  text-decoration: none;
  color: #fff;
}

.header-menu__nav .header-menu__list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
}

.header-menu__nav .header-menu__item {
  padding-bottom: 10px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.6s;
}

.header-menu__nav .header-menu__item:not(:last-child) {
  margin-right: 32px;
}

.header-menu__nav .header-menu__item:hover {
  border-bottom: 1px solid #fff;
}

.hero {
  padding-top: 110px;
  padding-bottom: 257px;
}

@media (max-width: 1400px) {
  .hero {
    padding-top: 95px;
  }
}

@media (max-width: 1080px) {
  .hero {
    padding-top: 33px;
    padding-bottom: 135px;
  }
}

@media (max-width: 400px) {
  .hero {
    padding-bottom: 104px;
  }
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
}

.hero-content .hero-content__title {
  margin: 0;
  margin-bottom: 8px;
  max-width: 46%;
  font-family: "PT Serif", serif;
  font-size: 90px;
  font-weight: 700;
  line-height: 7.2rem;
}

@media (max-width: 1400px) {
  .hero-content .hero-content__title {
    max-width: 52%;
    margin-bottom: 24px;
  }
}

@media (max-width: 1080px) {
  .hero-content .hero-content__title {
    margin-bottom: 14px;
    max-width: 60%;
    font-size: 64px;
    line-height: 83.2px;
  }
}

@media (max-width: 400px) {
  .hero-content .hero-content__title {
    max-width: 80%;
    margin-bottom: 9px;
    font-size: 40px;
    line-height: 1.5;
  }
}

.hero-content .hero-content__desc {
  margin: 0;
  margin-bottom: 94px;
  max-width: 42%;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.7rem;
}

@media (max-width: 1080px) {
  .hero-content .hero-content__desc {
    max-width: 60%;
    margin-bottom: 42px;
    font-size: 18px;
  }
}

@media (max-width: 400px) {
  .hero-content .hero-content__desc {
    max-width: none;
    margin-bottom: 36px;
    font-size: 14px;
    line-height: 1.5;
  }
}

.hero-content .hero-content__btn {
  width: 260px;
  height: 60px;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 30px;
}

@media (max-width: 400px) {
  .hero-content .hero-content__btn {
    width: 226px;
    height: 48px;
    align-self: center;
  }
}

.choice {
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: #fff;
}

@media (max-width: 400px) {
  .choice {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}

.choice-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

@media (max-width: 1400px) {
  .choice-list {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1080px) {
  .choice-list {
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  .choice-list {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: auto;
    gap: 16px;
  }
}

.choice-list .choice-list__item {
  position: relative;
  width: 256px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #D9D9DE;
  border-radius: 6px;
}

@media (max-width: 1400px) {
  .choice-list .choice-list__item {
    width: 100%;
    height: 250px;
  }
}

@media (max-width: 1080px) {
  .choice-list .choice-list__item {
    width: 100%;
    height: 228px;
    background-size: 100% 73%;
  }
}

@media (max-width: 400px) {
  .choice-list .choice-list__item {
    width: 100%;
    height: 225px;
  }
}

.choice-list .choice-list__item .choice-list__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-left: 20px;
  padding-top: 170px;
  text-decoration: none;
  color: #000;
  transition: color 0.6s;
}

@media (max-width: 1400px) {
  .choice-list .choice-list__item .choice-list__link {
    padding-top: 213px;
  }
}

@media (max-width: 1080px) {
  .choice-list .choice-list__item .choice-list__link {
    padding-top: 181px;
  }
}

.choice-list .choice-list__item .choice-list__link:hover {
  color: #D51A1A;
}

.choice-list .bases {
  background-image: url(../assets/bases.png);
}

.choice-list .excursions {
  background-image: url(../assets/excursions.png);
}

.choice-list .fishing {
  background-image: url(../assets/fishing.png);
}

.choice-list .extreme {
  background-image: url(../assets/extreme.png);
}

.choice-list .boats {
  background-image: url(../assets/boats.png);
}

.choice-list .landscapes {
  background-image: url(../assets/landscapes.png);
}

.choice-list .hotels {
  background-image: url(../assets/hotels.png);
}

.choice-list .transport {
  background-image: url(../assets/transport.png);
}

.choice-list .business {
  background-image: url(../assets/business.png);
}

.choice-list .cruises {
  background-image: url(../assets/cruises.png);
}

.choice-list .winter {
  background-image: url(../assets/winter.png);
}

.choice-list .map {
  background-image: url(../assets/map.png);
}

.directions {
  position: relative;
  padding-top: 36px;
  background-color: #fff;
}

@media (max-width: 1080px) {
  .directions {
    padding-bottom: 32px;
  }
}

.directions:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #64BD22;
  opacity: 0.07;
}

.directions .directions-content__title {
  margin: 0;
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 700;
  font-family: "PT Serif", serif;
  text-align: center;
}

@media (max-width: 400px) {
  .directions .directions-content__title {
    margin-bottom: 32px;
    font-size: 22px;
  }
}

.directions .directions-content__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 252px);
  grid-template-rows: repeat(2, 190px);
  row-gap: 11px;
  column-gap: 37px;
}

@media (max-width: 1400px) {
  .directions .directions-content__list {
    grid-template-columns: repeat(4, 225px);
  }
}

@media (max-width: 1080px) {
  .directions .directions-content__list {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 400px) {
  .directions .directions-content__list {
    grid-template-columns: repeat(1, auto);
    row-gap: 15px;
  }
}

.directions .directions-content__item {
  padding-top: 105px;
  background-repeat: no-repeat;
  background-size: 84px;
  background-position: left top;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

@media (max-width: 400px) {
  .directions .directions-content__item {
    background-position: top center;
    text-align: center;
  }
}

.directions .tours {
  background-image: url(../assets/1.svg);
}

.directions .excursions {
  background-image: url(../assets/2.svg);
}

.directions .services {
  background-image: url(../assets/3.svg);
}

.directions .cruises {
  background-image: url(../assets/4.svg);
}

.directions .fishing {
  background-image: url(../assets/5.svg);
}

.directions .rent {
  background-image: url(../assets/6.svg);
}

.directions .bookings {
  background-image: url(../assets/4.svg);
}

.directions .vip {
  background-image: url(../assets/8.svg);
}

.popular {
  padding-top: 134px;
  padding-bottom: 80px;
  background-color: #fff;
}

@media (max-width: 1400px) {
  .popular {
    padding-top: 141px;
  }
}

@media (max-width: 400px) {
  .popular {
    padding-top: 25px;
  }
}

.popular .popular-content__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 700;
  font-family: "PT Serif", serif;
}

@media (max-width: 400px) {
  .popular .popular-content__title {
    font-size: 22px;
  }
}

.popular .popular-content__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

@media (max-width: 1080px) {
  .popular .popular-content__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
}

@media (max-width: 400px) {
  .popular .popular-content__list {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}

.popular .popular-content__list .popular-content__item {
  position: relative;
  padding: 7%;
  font-size: 18px;
  font-weight: 500;
  background-size: 100% 100%;
  background-position: center center;
  transition: 1s;
}

.popular .popular-content__list .popular-content__item:not(:nth-child(3)) {
  width: 256px;
  height: 256px;
}

@media (max-width: 1400px) {
  .popular .popular-content__list .popular-content__item:not(:nth-child(3)) {
    width: 232px;
    height: 232px;
  }
}

@media (max-width: 1080px) {
  .popular .popular-content__list .popular-content__item:not(:nth-child(3)) {
    width: 320px;
    height: 320px;
  }
}

@media (max-width: 700px) {
  .popular .popular-content__list .popular-content__item:not(:nth-child(3)) {
    width: 100%;
    height: 288px;
  }
}

.popular .popular-content__list .popular-content__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 6px;
  background-image: linear-gradient(180deg, #000000 0%, #FFFFFF 48.44%, #FFFFFF 76.04%, #000000 100%);
  opacity: 0.7;
  mix-blend-mode: multiply;
}

.popular .popular-content__list .popular-content__item:hover {
  background-size: 150% 150%;
}

.popular .popular-content__list .item-1 {
  background-image: url(../assets/woman.png);
}

.popular .popular-content__list .item-2 {
  background-image: url(../assets/olhon.png);
}

.popular .popular-content__list .item-3 {
  background-image: url(../assets/datsan.png);
  grid-column: 3/5;
  grid-row: 1/3;
  font-size: 24px;
}

@media (max-width: 1080px) {
  .popular .popular-content__list .item-3 {
    grid-column: 1/3;
    grid-row: 3/5;
  }
}

@media (max-width: 400px) {
  .popular .popular-content__list .item-3 {
    grid-column: 1/1;
    grid-row: 5/6;
    object-fit: cover;
  }
}

.popular .popular-content__list .item-4 {
  background-image: url(../assets/ulanude.png);
}

.popular .popular-content__list .item-5 {
  background-image: url(../assets/eco.png);
}

.popular .popular-content__list .item-6 {
  background-image: url(../assets/summer_bay.png);
}

.popular .popular-content__list .item-7 {
  background-image: url(../assets/white_hotel.png);
}

.popular .popular-content__list .item-8 {
  background-image: url(../assets/harbor.png);
}

.popular .popular-content__list .item-9 {
  background-image: url(../assets/park-hotel.png);
}

.popular .popular-content__list .item-10 {
  background-image: url(../assets/summer_olhon.png);
}

.popular .popular-content__list .item-11 {
  background-image: url(../assets/park_hotel_baikal.png);
}

.popular .popular-content__list .item-12 {
  background-image: url(../assets/winter_fairytail.png);
}

.popular .popular-content__list .item-13 {
  font-size: 24px;
  font-weight: 500;
  background-image: url(../assets/all_offers.png);
}

.popular .popular-content__list .item-13 a {
  justify-content: center;
  text-align: center;
}

.popular .popular-content__list .popular-content__link {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  z-index: 100;
  text-decoration: none;
  color: #fff;
}

.popular .popular-content__list .popular-content__link span:nth-child(2) {
  font-size: 16px;
  font-weight: 400;
}

.map {
  background-color: #fff;
}

.map .map-content {
  padding-top: 64px;
  padding-bottom: 30px;
  border-top: 1px solid #C4C4C4;
}

.map .map-content .map-content__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 700;
  font-family: "PT Serif", serif;
  text-align: center;
}

.map .map-content .map-google {
  width: 100%;
  height: 609px;
}

.about {
  background-color: #fff;
  padding-top: 45px;
  padding-bottom: 80px;
}

.about .about-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

@media (max-width: 1080px) {
  .about .about-content {
    flex-direction: column;
  }
}

@media (max-width: 1080px) {
  .about .about-content img {
    width: 100%;
  }
}

.about .about-content .about-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.about .about-content .about-info .about-info__title {
  margin: 0;
  margin-bottom: 32px;
  font-size: 30px;
  font-weight: 700;
  font-family: "PT Serif", serif;
}

.about .about-content .about-info .about-info__desc {
  margin: 0;
  max-width: 95%;
  letter-spacing: 0.07rem;
  line-height: 1.5rem;
}

@media (max-width: 1080px) {
  .about .about-content .about-info .about-info__desc {
    margin-bottom: 20px;
  }
}

.about .about-content .about-info .about-info__link {
  color: #76767A;
}

@media (max-width: 1080px) {
  .about .about-content .about-info .about-info__link {
    margin-bottom: 20px;
  }
}

.gallery {
  position: relative;
  padding-top: 40px;
  padding-bottom: 80px;
  background-color: #fff;
}

@media (max-width: 400px) {
  .gallery {
    padding-bottom: 38px;
  }
}

.gallery::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #3FA9F5;
  opacity: 0.07;
}

.gallery .gallery-content {
  position: relative;
}

@media (max-width: 700px) {
  .gallery .gallery-content {
    padding-bottom: 54px;
  }
}

.gallery .gallery-content .gallery-content__title {
  margin: 0;
  margin-bottom: 60px;
  align-self: flex-start;
  font-size: 30px;
  font-weight: 700;
  font-family: "PT Serif", serif;
}

@media (max-width: 400px) {
  .gallery .gallery-content .gallery-content__title {
    font-size: 22px;
    margin-bottom: 32px;
  }
}

.gallery .gallery-content .mobile-swiper {
  display: none;
}

.gallery .gallery-content .gallery-slide {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.gallery .gallery-content .gallery-slide img {
  object-fit: cover;
}

.gallery .gallery-content .gallery-btns {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 44px;
}

@media (max-width: 1080px) {
  .gallery .gallery-content .gallery-btns {
    right: 19px;
  }
}

.gallery .gallery-content .gallery-btns .swiper-button-prev,
.gallery .gallery-content .gallery-btns .swiper-button-next {
  color: #0050B2;
  border: 1px solid #0050B2;
  border-radius: 100%;
  width: 44px;
  height: 44px;
}

.gallery .gallery-content .gallery-btns .swiper-button-prev::after,
.gallery .gallery-content .gallery-btns .swiper-button-next::after {
  font-size: 16px;
  font-weight: 700;
}

.gallery .gallery-content .gallery-btns .swiper-button-prev {
  right: 60px;
  left: auto;
}

.gallery .gallery-content .gallery-btns .all-pics {
  line-height: 44px;
  color: #0050B2;
}

@media (max-width: 700px) {
  .gallery .gallery-content .gallery-btns .all-pics {
    display: none;
  }
}

.gallery .gallery-content .all-pics__mobile {
  display: none;
}

@media (max-width: 700px) {
  .gallery .gallery-content .all-pics__mobile {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    font-weight: 400;
    color: #0050B2;
  }
}

.general {
  padding-top: 92px;
  padding-bottom: 10px;
  background-color: #fff;
}

@media (max-width: 400px) {
  .general {
    padding-top: 33px;
  }
}

@media (max-width: 400px) {
  .general {
    padding-bottom: 25px;
  }
}

.general .general-content .general-content__title {
  margin: 0;
  margin-bottom: 44px;
  font-size: 44px;
  font-weight: 700;
  font-family: "PT Serif", serif;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 400px) {
  .general .general-content .general-content__title {
    font-size: 22px;
    margin-bottom: 21px;
  }
}

.general .general-content .general-info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.general .general-content .general-pics {
  position: relative;
  flex-basis: 34%;
}

@media (max-width: 1080px) {
  .general .general-content .general-pics {
    display: none;
  }
}

.general .general-content .general-pics img:last-child {
  position: relative;
  top: -110px;
  left: 15%;
}

.general .general-content .general-desc {
  flex-basis: 66%;
  align-self: stretch;
}

@media (max-width: 1080px) {
  .general .general-content .general-desc {
    flex-basis: 100%;
  }
}

.general .general-content .general-desc p {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
}

@media (max-width: 400px) {
  .general .general-content .general-desc p {
    font-size: 16px;
    line-height: 1.4;
  }
}

.general .general-content .general-desc p:not(:last-child) {
  margin-bottom: 12px;
}

.counts {
  padding-bottom: 45px;
  background-color: #fff;
}

.counts .counts-content {
  padding-top: 44px;
  border-top: 2px solid #C4C4C4;
}

@media (max-width: 400px) {
  .counts .counts-content {
    padding-top: 25px;
  }
}

.counts .counts-content .counts-content__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

@media (max-width: 700px) {
  .counts .counts-content .counts-content__list {
    flex-wrap: wrap;
  }
}

.counts .counts-content .counts-content__list .counts-content__item {
  flex-basis: 18%;
}

@media (max-width: 400px) {
  .counts .counts-content .counts-content__list .counts-content__item {
    flex-basis: 50%;
  }
  .counts .counts-content .counts-content__list .counts-content__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.counts .counts-content .counts-content__list .counts-content__item span {
  display: inline-block;
}

.counts .counts-content .counts-content__list .counts-content__item span:nth-child(1) {
  font-family: "PT Serif", serif;
  font-size: 54px;
  font-weight: 700;
  color: #64BD22;
}

@media (max-width: 700px) {
  .counts .counts-content .counts-content__list .counts-content__item span:nth-child(1) {
    font-size: 32px;
  }
}

.counts .counts-content .counts-content__list .counts-content__item span:nth-child(2) {
  font-size: 20px;
  font-weight: 500;
}

@media (max-width: 700px) {
  .counts .counts-content .counts-content__list .counts-content__item span:nth-child(2) {
    font-size: 14px;
  }
}

.booking {
  padding-top: 48px;
  padding-bottom: 80px;
  background-color: #F5F5F7;
}

@media (max-width: 400px) {
  .booking {
    padding-top: 17px;
  }
}

.booking .booking-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.booking .booking-content .booking-content__title {
  margin: 0;
  margin-bottom: 50px;
  color: #000;
  font-size: 30px;
  font-weight: 700;
  font-family: "PT Serif", serif;
}

@media (max-width: 400px) {
  .booking .booking-content .booking-content__title {
    font-size: 22px;
    text-align: center;
  }
}

.booking .booking-content .booking-content__form {
  max-width: 840px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 32px;
  row-gap: 24px;
}

@media (max-width: 400px) {
  .booking .booking-content .booking-content__form {
    max-width: none;
    grid-template-columns: 1fr;
  }
}

.booking .booking-content .booking-content__form .booking-label {
  height: 44px;
}

.booking .booking-content .booking-content__form .booking-input {
  padding-left: 10px;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', serif;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #D9D9DE;
}

.booking .booking-content .booking-content__form .booking-input::placeholder {
  font-size: 16px;
  color: #76767A;
}

.booking .booking-content .booking-content__form textarea.booking-input {
  resize: none;
  grid-column: 2/4;
  grid-row: 3/5;
}

@media (max-width: 400px) {
  .booking .booking-content .booking-content__form textarea.booking-input {
    grid-column: 1/2;
    grid-row: 9/11;
    height: 180px;
  }
}

.booking .booking-content .booking-content__form .booking-btn {
  width: 297px;
  height: 60px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: #0061D9;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}

.booking .booking-content .booking-content__form .booking-check {
  width: 100%;
  text-align: right;
  line-height: 60px;
  grid-column: 2/4;
}

@media (max-width: 400px) {
  .booking .booking-content .booking-content__form .booking-check {
    grid-column: 1/2;
  }
}

@media (max-width: 400px) {
  .booking .booking-content .booking-content__form .booking-check {
    text-align: left;
    max-width: 90%;
    line-height: 1.1;
  }
}

.booking .booking-content .booking-content__form .booking-check input {
  width: 26px;
  height: 26px;
  vertical-align: middle;
  margin-right: 10px;
}

.footer {
  padding-top: 40px;
  background-color: #202020;
  color: #fff;
}

.footer .mobile-menu {
  display: none;
}

@media (max-width: 1080px) {
  .footer .mobile-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
  }
  .footer .mobile-menu .burger-container {
    display: flex;
    justify-content: space-between;
  }
  .footer .mobile-menu .burger-container span {
    text-transform: uppercase;
  }
  .footer .mobile-menu .footer-burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 32px;
    height: 24px;
    padding: 0;
    margin-right: 20px;
    background-color: transparent;
  }
  .footer .mobile-menu .footer-burger span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #fff;
  }
  .footer .mobile-menu a {
    padding-left: 54px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    line-height: 40px;
  }
  .footer .mobile-menu .footer-content__phone {
    text-decoration: none;
    background-image: url(../assets/phone.svg);
  }
}

@media (max-width: 1080px) and (max-width: 700px) {
  .footer .mobile-menu .footer-content__phone {
    display: none;
  }
}

@media (max-width: 1080px) {
  .footer .mobile-menu .footer-content__mail {
    background-image: url(../assets/mail.svg);
  }
}

@media (max-width: 1080px) and (max-width: 700px) {
  .footer .mobile-menu .footer-content__mail {
    display: none;
  }
}

.footer .footer-menu {
  padding-bottom: 35px;
}

@media (max-width: 1080px) {
  .footer .footer-menu {
    display: none;
  }
}

.footer .footer-menu .menu-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(5, auto);
  column-gap: 76px;
}

.footer .footer-menu .menu-list .menu-list__item {
  text-align: left;
}

.footer .footer-menu .menu-list .menu-list__item h3 {
  margin: 0;
  margin-bottom: 17px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.footer .footer-menu .menu-list .menu-list__item .menu-sublist {
  margin: 0;
  padding: 0;
}

.footer .footer-menu .menu-list .menu-list__item .menu-sublist .menu-sublist__item:not(:last-child) {
  margin-bottom: 6px;
}

.footer .footer-menu .menu-list .menu-list__item .menu-sublist .menu-sublist__item .menu-sublist__link {
  color: #fff;
  font-weight: 16px;
  font-weight: 400;
  line-height: 23px;
  opacity: 0.8;
  text-decoration: none;
}

.footer .footer-contacts {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid #FFFFFF;
  padding-top: 30px;
  padding-bottom: 45px;
}

@media (max-width: 400px) {
  .footer .footer-contacts {
    flex-direction: column;
  }
}

.footer .footer-contacts .contact-info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

@media (max-width: 400px) {
  .footer .footer-contacts .contact-info {
    margin-bottom: 20px;
  }
}

.footer .footer-contacts .contact-info .contact-info__general,
.footer .footer-contacts .contact-info .contact-info__booking {
  margin-right: 33px;
}

.footer .footer-contacts .contact-info .contact-info__name {
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
}

.footer .footer-contacts .contact-info span {
  display: block;
  font-weight: 400;
  opacity: 0.8;
}

@media (max-width: 400px) {
  .footer .footer-contacts .contact-info span {
    font-size: 14px;
  }
}

.footer .footer-contacts .contact-info .contact-info__booking .contact-info__list {
  margin: 0;
  padding: 0;
}

.footer .footer-contacts .contact-info .contact-info__booking .contact-info__list .contact-info__item a {
  text-decoration: none;
  color: #fff;
  opacity: 0.8;
}

.footer .footer-contacts .contact-info .contact-info__adress {
  flex-basis: 30%;
}

.footer .footer-contacts .contact-info .contact-info__adress address {
  color: #fff;
  opacity: 0.8;
}

@media (max-width: 1080px) {
  .footer .footer-contacts .contact-info .contact-info__booking,
  .footer .footer-contacts .contact-info .contact-info__adress {
    display: none;
  }
}

.footer .footer-contacts .confidential-info {
  flex-basis: 30%;
  text-align: right;
}

@media (max-width: 400px) {
  .footer .footer-contacts .confidential-info {
    font-size: 12px;
  }
}

.footer .footer-contacts .confidential-info a {
  color: #fff;
  opacity: 0.8;
}
